*{
    margin: 0;
}


.plus-jakarta-sans-regular {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.plus-jakarta-sans-light {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 300;
}

.plus-jakarta-sans-bold {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 700;
}

.plus-jakarta-sans-semibold {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 600;
}

.plus-jakarta-sans-extrabold {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 800;
}

.plus-jakarta-sans-medium {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 500;
}


.title-weather {
    color: #FFFDEF;
    text-align: left;
}

.temperature {
    display: flex;
    align-items: flex-start; 
}

.temp-number {
    font-size:40px;
    margin: 0;
    line-height: 1;
}

.temp-unit {
    font-size: 15px; 
    top: 0px;
   
}

.date-right {
    font-size: 14px;
}

.search-city {
    font-size: 60px;
}

.title-weather {
    display: flex;
    align-content: space-between;
}

.terracotta {
    color: #835a56;
}

.white {
    color: #FFFDEF;
}