*{
    margin: 0;
}


.plus-jakarta-sans-regular {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.plus-jakarta-sans-light {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 300;
}

.plus-jakarta-sans-bold {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 700;
}

.plus-jakarta-sans-semibold {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 600;
}

.plus-jakarta-sans-extrabold {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 800;
}

.plus-jakarta-sans-medium {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 500;
}

.left-section {
    background-color: #383737; 
}

.right-section {
    background-color: #383737; 
}

.title-weather {
    color: #FFFDEF;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .title-weather {
        min-height: auto;
        padding: 10px;
    }
    .temperature {
        font-size: 15vw;
    }
}

.temp-number {
    font-size:40px;
    margin: 0;
    line-height: 1;
}

.temp-unit {
    font-size: 15px; 
    top: 0px;
   
}

.date-right {
    font-size: 14px;
}

.search-city {
    font-size: 5vw;
}


.temperature-display {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: calc(100vh - 300px);
    margin-bottom: 0;
    font-size: 5vw;
}

.humidity {
    text-align: left;
}

.terracotta {
    color: #835a56;
}

.white {
    color: #FFFDEF;
}

